Repository brewerc1/family-races, pull requests merged in 2021-06, with the labels that each got.

#229 Fixes issue #228
  public_html/onboarding/index.php
  public_html/onboarding/step2.php
  public_html/user/edit/index.php
  public_html/user/settings/reset.php
Labels: BUG, Onboarding, account_creation

#239 Api admin
  public_html/api/Utils.php
  public_html/api/events/index.php
  public_html/api/races/index.php
  public_html/api/recalculate/index.php
  public_html/api/results/index.php
Labels: Admin, Database_Subsystem, Events_Management

#240 The front-end appends the domain name to the url, no need to do it in…
  public_html/api/Utils.php
Labels: Admin, BUG
